<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>smartMukkam</display-name>
  <welcome-file-list>
    
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
 <servlet>
    <servlet-name>UserSignupServlet</servlet-name>
    <servlet-class>smartMukkam.main.user.userData.UserSignIn</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UserSignupServlet</servlet-name>
    <url-pattern>/userSignup</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>smartMukkam.main.user.Login.UserLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userLogin</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>smartMukkam.main.user.Login.UserProfileImage</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/userPhoto</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>MunicipalityLogin</servlet-name>
    <servlet-class>smartMukkam.com.municipality.login.MunicipalityLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>MunicipalityLogin</servlet-name>
    <url-pattern>/mLogin</url-pattern>
</servlet-mapping>
  
 <servlet>
    <servlet-name>UserProjectSubmission</servlet-name>
    <servlet-class>smartMukkam.com.municipality.ProjectServelet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UserProjectSubmission</servlet-name>
    <url-pattern>/uProject</url-pattern>
</servlet-mapping>

 <servlet>
    <servlet-name>GetProjectPDF</servlet-name>
    <servlet-class>smartMukkam.com.municipality.GetPdfServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>GetProjectPDF</servlet-name>
    <url-pattern>/GetPdf</url-pattern>
</servlet-mapping>

 <servlet>
    <servlet-name>municipalityCompalint</servlet-name>
    <servlet-class>smartMukkam.com.municipality.ComplaintServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>municipalityCompalint</servlet-name>
    <url-pattern>/complaint</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>pdfCompalint</servlet-name>
    <servlet-class>smartMukkam.com.municipality.GetComplaintPDFServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>pdfCompalint</servlet-name>
    <url-pattern>/getcompPDF</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>MprofileUpload</servlet-name>
    <servlet-class>smartMukkam.com.municipality.MunicipalityProfileServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>MprofileUpload</servlet-name>
    <url-pattern>/mprofile</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>GprofileUpload</servlet-name>
    <servlet-class>smartMukkam.com.municipality.GovernorProfileServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>GprofileUpload</servlet-name>
    <url-pattern>/gprofile</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>CoImages</servlet-name>
    <servlet-class>smartMukkam.com.municipality.ImageCouncilor</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CoImages</servlet-name>
    <url-pattern>/cimg</url-pattern>
</servlet-mapping>
  
<servlet>
    <servlet-name>MGallery</servlet-name>
    <servlet-class>smartMukkam.com.municipality.MunicipalityGalleryServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>MGallery</servlet-name>
    <url-pattern>/mg</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>MVGallery</servlet-name>
    <servlet-class>smartMukkam.com.municipality.MunicipalityGalleryImage</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>MVGallery</servlet-name>
    <url-pattern>/ivg</url-pattern>
</servlet-mapping>
  
<servlet>
    <servlet-name>shopSingin</servlet-name>
    <servlet-class>smartMukkam.com.shop.ShopRegistrationServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>shopSingin</servlet-name>
    <url-pattern>/shopsign</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>shopLicense</servlet-name>
    <servlet-class>smartMukkam.com.shop.ShopLicenseServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>shopLicense</servlet-name>
    <url-pattern>/license</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>shopProfile</servlet-name>
    <servlet-class>smartMukkam.com.shop.ShopImageServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>shopProfile</servlet-name>
    <url-pattern>/shopImage</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>shopLogin</servlet-name>
    <servlet-class>smartMukkam.com.shop.ShopLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>shopLogin</servlet-name>
    <url-pattern>/shopL</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>productAdd</servlet-name>
    <servlet-class>smartMukkam.com.shop.ProductServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>productAdd</servlet-name>
    <url-pattern>/pAdd</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>productImage</servlet-name>
    <servlet-class>smartMukkam.com.shop.ProductImageServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>productImage</servlet-name>
    <url-pattern>/pImage</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>addAds</servlet-name>
    <servlet-class>smartMukkam.com.shop.AdsServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>addAds</servlet-name>
    <url-pattern>/ads</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>imagAds</servlet-name>
    <servlet-class>smartMukkam.com.shop.GetAdsImage</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>imagAds</servlet-name>
    <url-pattern>/imAds</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>sGallery</servlet-name>
    <servlet-class>smartMukkam.com.shop.AddGalleryServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>sGallery</servlet-name>
    <url-pattern>/gimShop</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>vsGallery</servlet-name>
    <servlet-class>smartMukkam.com.shop.GetShopGalleryImg</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>vsGallery</servlet-name>
    <url-pattern>/showImShopG</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>touristSign</servlet-name>
    <servlet-class>smartMukkam.com.tourist.TouristSignUpServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>touristSign</servlet-name>
    <url-pattern>/tSign</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>touristImage</servlet-name>
    <servlet-class>smartMukkam.com.tourist.TouristProfileImageServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>touristImage</servlet-name>
    <url-pattern>/timg</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>touristLic</servlet-name>
    <servlet-class>smartMukkam.com.tourist.TouristLicensePDFServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>touristLic</servlet-name>
    <url-pattern>/tlic</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>touristTicket</servlet-name>
    <servlet-class>smartMukkam.com.tourist.AddTicketServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>touristTicket</servlet-name>
    <url-pattern>/toTick</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ImageTicket</servlet-name>
    <servlet-class>smartMukkam.com.tourist.ImageTicketServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ImageTicket</servlet-name>
    <url-pattern>/imTick</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>TouristGallery</servlet-name>
    <servlet-class>smartMukkam.com.tourist.TouristGalleryUpload</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>TouristGallery</servlet-name>
    <url-pattern>/tGallery</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>TouristGalleryImage</servlet-name>
    <servlet-class>smartMukkam.com.tourist.GetTouristGallaryImage</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>TouristGalleryImage</servlet-name>
    <url-pattern>/tGallIm</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>TouristWallpaper</servlet-name>
    <servlet-class>smartMukkam.com.tourist.TouristWallpaperUpload</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>TouristWallpaper</servlet-name>
    <url-pattern>/tWallpeper</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>GetTouristWallpaper</servlet-name>
    <servlet-class>smartMukkam.com.tourist.GetWallpaperImages</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>GetTouristWallpaper</servlet-name>
    <url-pattern>/getTWallpeper</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>bookTicket</servlet-name>
    <servlet-class>smartMukkam.com.tourist.BookTicketServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>bookTicket</servlet-name>
    <url-pattern>/ticket</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>hotelSingin</servlet-name>
    <servlet-class>smartMukkam.com.hotel.HotelSignupServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>hotelSingin</servlet-name>
    <url-pattern>/hsign</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>hotelImage</servlet-name>
    <servlet-class>smartMukkam.com.hotel.GetImageOfHotel</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>hotelImage</servlet-name>
    <url-pattern>/himg</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>hotelLicense</servlet-name>
    <servlet-class>smartMukkam.com.hotel.GetLicenseOfHotel</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>hotelLicense</servlet-name>
    <url-pattern>/hLpdf</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>hotelRoom</servlet-name>
    <servlet-class>smartMukkam.com.hotel.AddRoomServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>hotelRoom</servlet-name>
    <url-pattern>/adRoom</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ImageRoom</servlet-name>
    <servlet-class>smartMukkam.com.hotel.GetRoomImageServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ImageRoom</servlet-name>
    <url-pattern>/imRoom</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>hotelFood</servlet-name>
    <servlet-class>smartMukkam.com.hotel.AddFoodServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>hotelFood</servlet-name>
    <url-pattern>/adFood</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ImageFood</servlet-name>
    <servlet-class>smartMukkam.com.hotel.GetFoodImageServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ImageFood</servlet-name>
    <url-pattern>/imfood</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>hotelTaxi</servlet-name>
    <servlet-class>smartMukkam.com.hotel.AddTaxiServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>hotelTaxi</servlet-name>
    <url-pattern>/adTaxi</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>ImageTaxi</servlet-name>
    <servlet-class>smartMukkam.com.hotel.GetTaxiImage</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ImageTaxi</servlet-name>
    <url-pattern>/imTaxi</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>hotelGallery</servlet-name>
    <servlet-class>smartMukkam.com.hotel.AddGallery</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>hotelGallery</servlet-name>
    <url-pattern>/adHGallery</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>ImageHGallery</servlet-name>
    <servlet-class>smartMukkam.com.hotel.GetImageGallery</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ImageHGallery</servlet-name>
    <url-pattern>/imHGallery</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>AdminProfileUpload</servlet-name>
    <servlet-class>smartMukkam.com.admin.UpdateAdminDetailsServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AdminProfileUpload</servlet-name>
    <url-pattern>/adminPro</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>AdminProfile</servlet-name>
    <servlet-class>smartMukkam.com.admin.GetAdminProfile</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AdminProfile</servlet-name>
    <url-pattern>/adminProView</url-pattern>
</servlet-mapping>



<servlet>
    <servlet-name>addUgalley</servlet-name>
    <servlet-class>smartMukkam.main.user.userData.UserAddGalleryServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>addUgalley</servlet-name>
    <url-pattern>/addUG</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Ugalley</servlet-name>
    <servlet-class>smartMukkam.main.user.userData.GetUserGallery</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Ugalley</servlet-name>
    <url-pattern>/imUG</url-pattern>
</servlet-mapping>




  
</web-app>